body {
    font-family: 'Roboto', sans-serif;
}

.principal {
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url(/src/imagens/bg-repeat.jpg);
    background-size: contain;
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
}

.texto {
    width: 400px;
    height: 111px;
    color: white;
    margin-right    : 15px;
}

.texto h2 {
 font-size: 20px;
 font-weight: 900;
 margin-bottom: 11px;
}
.texto p {
font-size: 15px;
font-weight: 400;
line-height: 17.58px;
margin-right: 30px;
text-align: justify;
}

.formulario {
    width: 340px;
    height: 450px;
    background-color: white;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}

.formulario p{
    align-self: flex-start;
    margin-left: 15px;
    margin-bottom: 18px;
    font-size: 12px;
    font-weight: 700;
    
}

.formulario .dados {

    
    border-color: black;
    border-radius: 5px;
    width: 298px;
    height: 34px;
    margin: 10px 20px ;
    border-width: 2px;

}

.dados::placeholder {
    padding-left: 5px;
}

.formulario .msg {
    height: 100px;
}

.botao {
    width: 298px;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 5px;
    color: white;
    background-color: #3CCC87;
    border-color: #3CCC87;
    font-weight: 700;
}

.dados.respondido {

    border-color: #00C22B;
}

.dados.nao-respondido {
    border-color: #F52E2E;
}

.obrigatorio{

    font-size: 12px;
    color: #F52E2E;
    font-weight: 400px;
}

.esconder {
    display: none;
}

.mostrar {
    display: block;
}